# Explore Exercises

In [1]:
# regular imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import math
import env

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import warnings
warnings.filterwarnings("ignore")

# Wrangling
from sklearn.model_selection import train_test_split, learning_curve

# Personal Imports
import acquire
import prepare

In [2]:
df = acquire.wrangle_zillow()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        76 non-null     float64
 1   heatingorsystemtypeid         33935 non-null  float64
 2   buildingclasstypeid           0 non-null      object
 3   architecturalstyletypeid      70 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   propertylandusetypeid         52441 non-null  float64
 6   id                            52441 non-null  int64
 7   parcelid                      52441 non-null  int64
 8   logerror                      52441 non-null  float64
 9   transactiondate               52441 non-null  object
 10  id                            52441 non-null  int64
 11  parcelid                      52441 non-null  int64
 12  basementsqft                  47 non-null     float64
 13  bathroomcnt                   52441 non-null  float64
 14  bedroomcnt                    52441 non-null  float64
 15  buildingqualitytypeid         33740 non-null  float64
 16  calculatedbathnbr             52304 non-null  float64
 17  decktypeid                    389 non-null    float64
 18  finishedfloor1squarefeet      4381 non-null   float64
 19  calculatedfinishedsquarefeet  52359 non-null  float64
 20  finishedsquarefeet12          52194 non-null  float64
 21  finishedsquarefeet13          0 non-null      object
 22  finishedsquarefeet15          0 non-null      object
 23  finishedsquarefeet50          4381 non-null   float64
 24  finishedsquarefeet6           165 non-null    float64
 25  fips                          52441 non-null  float64
 26  fireplacecnt                  7243 non-null   float64
 27  fullbathcnt                   52304 non-null  float64
 28  garagecarcnt                  18015 non-null  float64
 29  garagetotalsqft               18015 non-null  float64
 30  hashottuborspa                1515 non-null   float64
 31  latitude                      52441 non-null  float64
 32  longitude                     52441 non-null  float64
 33  lotsizesquarefeet             52072 non-null  float64
 34  poolcnt                       11096 non-null  float64
 35  poolsizesum                   867 non-null    float64
 36  pooltypeid10                  444 non-null    float64
 37  pooltypeid2                   1071 non-null   float64
 38  pooltypeid7                   10009 non-null  float64
 39  propertycountylandusecode     52441 non-null  object
 40  propertyzoningdesc            33848 non-null  object
 41  rawcensustractandblock        52441 non-null  float64
 42  regionidcity                  51404 non-null  float64
 43  regionidcounty                52441 non-null  float64
 44  regionidneighborhood          19033 non-null  float64
 45  regionidzip                   52415 non-null  float64
 46  roomcnt                       52441 non-null  float64
 47  storytypeid                   47 non-null     float64
 48  threequarterbathnbr           6724 non-null   float64
 49  unitcnt                       33847 non-null  float64
 50  yardbuildingsqft17            1937 non-null   float64
 51  yardbuildingsqft26            63 non-null     float64
 52  yearbuilt                     52325 non-null  float64
 53  numberofstories               14561 non-null  float64
 54  fireplaceflag                 81 non-null     float64
 55  structuretaxvaluedollarcnt    52357 non-null  float64
 56  taxvaluedollarcnt             52440 non-null  float64
 57  assessmentyear                52441 non-null  float64
 58  landtaxvaluedollarcnt         52440 non-null  float64
 59  taxamount                     52437 non-null  float64
 60  taxdelinquencyflag            2079 non-null   object
 61  taxdelinquencyyear            2079 non-null   float64
 62  censustractandblock           52318 non-null  float64
 63  propertylandusedesc           52441 non-null  object
 64  airconditioningdesc           13638 non-null  object
 65  architecturalstyledesc        70 non-null     object
 66  buildingclassdesc             0 non-null      object
 67  heatingorsystemdesc           33935 non-null  object
 68  typeconstructiondesc          76 non-null     object
dtypes: float64(52), int64(4), object(13)
memory usage: 27.6+ MB

In [3]:
df.head()

,typeconstructiontypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,propertylandusetypeid,id,parcelid,logerror,transactiondate,...,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,typeconstructiondesc
0,NaN,NaN,None,NaN,NaN,261.00,0,14297519,0.03,2017-01-01,...,"11,013.72",None,NaN,"60,590,630,072,012.00",Single Family Residential,None,None,None,None,None
1,NaN,NaN,None,NaN,NaN,261.00,1,17052889,0.06,2017-01-01,...,"5,672.48",None,NaN,"61,110,010,023,006.00",Single Family Residential,None,None,None,None,None
2,NaN,NaN,None,NaN,NaN,261.00,2,14186244,0.01,2017-01-01,...,"6,488.30",None,NaN,"60,590,218,022,012.00",Single Family Residential,None,None,None,None,None
3,NaN,2.00,None,NaN,NaN,261.00,3,12177905,-0.10,2017-01-01,...,"1,777.51",None,NaN,"60,373,001,001,006.00",Single Family Residential,None,None,None,Central,None
4,NaN,2.00,None,NaN,1.00,261.00,6,12095076,-0.00,2017-01-01,...,"9,516.26",None,NaN,"60,374,608,001,014.00",Single Family Residential,Central,None,None,Central,None

In [4]:
df, train, validate, test, x_train, y_train, x_validate, y_validate, x_test, y_test = prepare.prep_zillow(df)

TypeError: 'NoneType' object is not subscriptable

# Main Exploration

In [ ]:
for col in train.columns:
    plt.figure(figsize=(4,2))
    plt.hist(train[col])
    plt.title(col)
    plt.show()

In [ ]:
# plotly 3d scatter
import plotly.express as px
df = px.data.iris()
fig = px.scatter_3d(df, x='sepal_length', y='sepal_width', z='petal_width',
              color='species')
fig.update_layout(width=700, height=500)
# fig.update_layout(margin={"r":0,"t":0,"l":10,"b":0})
fig.show()